<ion-menu contentId="main-content">
  <ion-header >
    <ion-toolbar>
      <ion-title style="font-family: 'Jockey One', sans-serif ;">
        Opciones
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item href="/creag">
        Añadir grupo
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="background-color: #defcec">
        <div style="display: flex; justify-content: center; align-items: center;">
          <ion-img src="/assets/icon/icons8-dinero-50 (1).png" style="width: 80px;"></ion-img>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>






