ion-grid{
  background-color: #18E46F;
}

*{
  font-family: 'Jockey One', sans-serif ;
}


p{
  font-size: 60px;
  color: #defcec;text-align: center;

}


ion-card{
  width: 80vh;
  font-family: 'Jockey One', sans-serif ;
  color: #defcec;
  background-color: #54EC96;
}

